[2018-02-11 23:52] kasbah opened #3 "Can't get this to work with a simple example"
I took this simple example from [this blog post](https://dev.doctorevidence.com/how-to-write-a-typescript-transform-plugin-fc5308fdd943) but I couldn't get it to run:

[code]

[code]

tsconfig.json
[code]
I ran:
[code]

Result:

[code]

Expected:

[code]

[2018-02-12 22:14] cevek commented on #3
Currently transformers work only with js files in commonjs style.
But soon I'll implement supporting ts files
Second problem that you give a wrapper function, but transformers must be without this one
[code]

Work transformer version
[code]

[2018-02-13 09:56] kasbah commented on #3
Thanks for your help. I copied your transform.js and changed tsconfig.json to:

[code]

But the `ttsc` transformation is still as above. In fact, I noticed even if I change `./transform.js` to a non-existent file it runs the same.

[2018-02-13 12:29] cevek commented on #3
I've publish new version(1.0.5) that can works with transformers written in ts
Also I've attach an example project

[2018-02-13 12:58] kasbah commented on #3
Nice, I tried the example and it does work for me when I run `ttsc` on it's own. However, if I run `ttsc test.ts` it doesn't work as expected (seems to be like running `tsc` -- the transform is not applied).

(Also, I noticed you committed and out of date `example/test.js`)

[2018-02-13 13:03] cevek commented on #3
When you run `tsc test.ts` `tsc` doesn't use your tsconfig.json

[2018-02-13 13:10] kasbah commented on #3
Ah, thanks. That's kind of confusing behaviour but I haven't used `tsc` very much. It might make sense for `ttsc file.ts` to still use the transform section of the config because right now it's just like calling `tsc file.ts`?

[2018-02-13 13:28] cevek commented on #3
Yeah, you right, maybe in the next version I'll add this feature

[2018-02-13 13:43] kasbah opened #4 "Use transformer section of tsconfig when ttsc has file arguments"
From #3

[2018-02-13 13:44] kasbah commented on #3
Thanks again for this project and your help. I feel like with the addition of an example this is resolved.

[2018-02-13 13:44] #3 closed

[2018-02-17 16:43] SupernaviX opened #5 "Expose program to custom transformers"
If custom transformers had access to the current Program, they would be able to use its [TypeChecker](https://github.com/Microsoft/TypeScript/blob/master/lib/typescript.d.ts#L1714) to introspect on the types in the code being transformed. CustomTransformers with knowledge of the type system could have lots of interesting uses; e.g. using a specific decorator to mark blocks of code to be transforme

[2018-02-18 16:55] cevek commented on #5
Yeah, I thought about that too. Will be implemented in the next version

[2018-02-22 03:33] SupernaviX commented on #5
Would you accept a PR? It looks like it works on my machine if I patch `ts.createProgram`, and then patch the `emit` method on the program created by that.

[2018-02-22 08:37] cevek commented on #5
Why do you want to patch `emit`?
I've patched only `ts.createProgram`
Can you check my last commits are that working for you?

[2018-02-22 13:29] SupernaviX commented on #5
Cool, it works!

I patched emit because I didn't want to hold onto a global value for "program", was afraid that the wrong transformers would get the wrong program.

[2018-02-22 15:38] cevek commented on #5
Fixed.
 `globalProgram` - it was bad idea :)
Now it's patched only `createProgram` and `program.emit` instead of the `ts.emitFiles `

[2018-02-25 12:50] kristianmandrup commented on #5
So how do we use this from VS Code?

[2018-02-25 18:29] SupernaviX commented on #5
To compile projects with it, update your build command to point to ttsc instead of tsc.

To tell vscode specifically to use this instead of normal typescript engine, add `"typescript.tsdk": "node_modules\\ttypescript\\lib"` to your `settings.json`. That won't really do much though, since these are just compile-time transformations.

[2018-02-26 02:37] kristianmandrup commented on #5
@SupernaviX Why is this not documented in the Readme? I think there should be a section for VSC configuration? Cheers!

[2018-02-26 05:45] SupernaviX commented on #5
I don't think configuring VSC to use it actually affects anything, since the IDE doesn't care about what happens at compile time. No reason for users to go to the trouble of setting that up.

@cevek could you please publish the new version?

[2018-02-26 09:14] cevek commented on #5
@SupernaviX Done

[2018-02-26 13:50] kristianmandrup commented on #5
Thanks for adding [VS Code section in Readme](https://github.com/cevek/ttypescript#vc-code) :)

[2018-02-26 14:34] SupernaviX commented on #5
ohhhhh didn't realize that you were compiling _through_ VSCode. My bad.

[2018-02-26 14:58] kasbah commented on #5
I don't really understand why VSCode is being discussed on this issue about the program/typechecker being available in the transformer.

[2018-05-06 02:38] dsherret opened #8 "Ability to suppress log?"
Hey, awesome project! Can there be an option to disable the log in `patch.js`? I can't link to it because the source code on github doesn't seem up to date.

My reason:

![image](https://user-images.githubusercontent.com/1609021/39669266-fcde7e0c-50b4-11e8-935a-ff435f941fc8.png)

[2018-05-06 02:49] dsherret opened #9 "Do not register ts-node-config/tsconfig.json in all circumstances?"
Hey, I was trying to get this to work with istanbul (nyc), mocha, and ts-node. This is my setup (setup is from [here](https://istanbul.js.org/docs/tutorials/typescript/)):

[code]

Which gives the following error:

[code]

I took a look at the line where there's the error and added two console.log statements before:

[code]

Then looked further into `ttypescript/lib/typescript.js` and found it was

[2018-05-06 11:58] cevek commented on #9
It happens because of circular dependency: ts-node try to require ttypescript, but ttypescript requires ts-node to compile transformers.

Fixed this problems in v1.0.9
Can you check it out in your environment?

[2018-05-06 11:59] cevek commented on #8
Remove this console.log in 1.0.9

[2018-05-06 11:59] #8 closed

[2018-05-06 12:01] cevek commented on #5
Exposed the `program` argument in 1.0.9

[2018-05-06 12:01] #5 closed

[2018-05-06 12:01] cevek commented on #4
Fixed in 1.0.9

[2018-05-06 12:01] #4 closed

[2018-05-06 14:06] dsherret commented on #9
Hey @cevek, thanks for looking into this so fast! I found the fix works great on linux, but on windows since backslashes are annoyingly used for the path (ex. `\ts-node\`) it won't work.

[2018-05-06 14:07] dsherret commented on #9
I can submit a fix right now actually.

[2018-05-06 14:09] cevek commented on #9
PR welcome :)

[2018-05-06 14:28] dsherret commented on #9
Closing because this is fixed in 1.0.10. Thanks again!

[2018-05-06 14:28] #9 closed

[2018-05-17 03:10] dsherret opened #14 "Ability to run in old node environments"
Could we change this library so it targets ES5 and not ESNext so that it could be used to build on old environments?

For example, my build machine uses an old version of nodejs that will checkout some typescript code, compile it, and run the tests, but this is broken now because a new version of ttypescript uses spread syntax (`...`).

Thanks!

[2018-05-17 03:36] dsherret commented on #14
Hmmm... actually when I build this repo by running `npm run build` I see it's building as ES5, but in the actual released package (1.4.1) it's using es6 language features. That's strange... I feel like the `npm run publish` command wouldn't release with es6 language features.

[2018-05-17 08:15] zerkalica commented on #14
@cevek Republish package with fixed build target, please.

[2018-05-27 12:37] marthinus-engelbrecht opened #15 "Feature Request: Allow the export of the program instead of the transformer"
I would really love to use `ttypescript`

But I'm using the awesome [ts-simple-ast](https://github.com/dsherret/ts-simple-ast) library to create a transformer and it creates the program for you. So you never in control of this code:

[code]
So if you could do something like.

[code]
that would work.

I believe putting a signature check somewhere  [here](https://github.com/cevek/ttypescript/blob/ma

[2018-05-27 12:38] marthinus-engelbrecht commented on #15
I'm open to doing a pull request.

[2018-05-27 14:03] cevek commented on #15
Hi @marthinus-engelbrecht!
We don't create a `program` manually, we just patch original `ts.createProgram` to expose program into transformers. If you want your own program you need create it yourself in your transformer
[code]

[2018-05-27 14:11] zerkalica commented on #15
Try to import ttypescript before importing ts-simple-ast:

[code]
[code]

[2018-05-27 17:58] marthinus-engelbrecht commented on #15
Thanks, guys. Will try it out

[2018-05-31 10:10] goloveychuk opened #16 "Plugin options"
In docs I see that I can provide options for my transformer. How to do this, if there are
https://github.com/cevek/ttypescript/blob/db3bec4fb6d86cf8992fa3f2cb8021149026fd4d/packages/ttypescript/src/PluginCreator.ts#L221-L224

[2018-05-31 10:30] zerkalica commented on #16
Ttypescript passes config entry from tsconfig.json to second argument of plugin entry point.
[code]

[code]

[2018-05-31 10:34] goloveychuk commented on #16
yea, I have
[code]
config. And ttypescript raises error in console
`tsconfig.json plugins error: Unexpected property in plugins`
This is because of validating options function, which doesn't allow any option then `possibleKeys`
See the link to the code I provided

[2018-05-31 10:53] cevek commented on #16
@goloveychuk Fixed in ttypescript@1.4.4

[2018-05-31 10:53] #16 closed

[2018-05-31 10:54] #15 closed

[2018-06-01 06:12] oleksandr-dakal opened #17 "ttsc missing compilerOptions"
Try to use ttypescript, but get error:
`> rimraf es | ttsc -p tsconfig.json`
`[node_modules]\ttypescript\lib\patchCreateProgram.js:38`
`if (compilerOptions.configFilePath === undefined) {`

According to error it's seems problem with compilerOptions
TypeError: Cannot read property 'configFilePath' of undefined

Issue reproducible with typescript@2.9.1 (Older 2.8 works ok)

[2018-06-01 06:20] paranoidjk commented on #17
same problem here

[2018-06-01 07:53] paranoidjk commented on #17
cc/ @cevek @zerkalica  Should ttypescript ask users lock typescript version? Since almost every time typescript release a minor version, our app break down

[2018-06-01 07:57] zerkalica commented on #17
Just lock typescript version in your project. Ttypescript has no hard dependency on typescript.

[2018-06-01 08:00] paranoidjk commented on #17
I think it do have peer dependency. since a paticular ttypescript can not gurantee work well on any typescript version, am i understand right ?

[2018-06-01 10:46] cevek commented on #17
Fixed in ttypescript@1.4.5

[2018-06-02 08:27] #17 closed

[2018-06-24 17:58] cspotcode opened #19 "require('ttypescript') alongside require('typescript')"
Is it supported to programmatically use an unpatched typescript alongside the patched version from ttypescript?  I see that if I `require('ttypescript')` then `require('typescript')` gets patched, whereas ideally ttypescript creates a separate instance of the compiler.

I think this would do the trick, but I'm not sure if you will accept a PR for it.  Are there reasons to keep your current impleme

[2018-06-25 15:12] cspotcode opened #20 "require('ttypescript') use locally installed typescript, similar to `ttsc` wrapper"
The CLI wrapper `ttsc` attempts to load and patch the locally installed version of Typescript, but `require('ttypescript')` does not.  Will you accept a PR to implement the same behavior for `require('ttypescript')`? (detecting locally installed typescript)

[2018-06-25 16:54] cevek commented on #20
`require('ttypescript')` must use only current version of typescript from the same node_modules.
Else it won't work as you'll expect, because if you run your app from different folders - ttypescript will use different typescript versions.

But for `ttsc` this behavior is ok because it expect that you run this command in project directory and every project can have own version of typescript.

[2018-06-25 16:58] cevek commented on #19
I think it can be done more simpler:
[code]

This issue related to #18
We need to find a compromise

[2018-06-25 19:37] cspotcode commented on #20
I'm asking for something roughly like this:

[code]

Basically, don't use the process's cwd.  *Do* use node's module resolution behavior, but specifically avoid loading `ttypescript/node_modules/typescript`.

That way, I can `npm install typescript@some-version ttypescript` and ttypescript will use the typescript version I installed.

Will that work?

[2018-06-25 19:40] cspotcode commented on #19
I don't think `{...ts}` will work because all of typescript's functions are bound to the original `ts` object.  For example, when `transpileModule` internally calls `createProgram` it will not invoke the patched `createProgram` because we have not mutated the original `ts` object.

With `eval` we can construct a new, isolated copy of the library.

[2018-06-25 20:51] cevek commented on #19
All createProgram calls are called with exported `ts` - `ts.createProgram()`

[2018-06-25 21:03] cevek commented on #20
if you do `npm install typescript` the npm will install ttypescript and latest typescript to your node_modules. If in your project typescript have already installed then npm won't install local typescript into ttypescript.
But this works only if you use typescript >= 2.7

So this `npm install typescript@2.8 ttypescript` works perfectly

[2018-06-25 21:05] cspotcode commented on #19
`ts` is bound to the original `exports` object.  Doing `{...ts}` creates a *new* object, but calls to `ts.createProgram()` are referring to the *original* `exports` object.  They will not invoke the replacement implementation of `createProgram`.

You can verify this yourself by running the code example you posted.

[code]

[code]

Am I missing something?

[2018-06-25 21:22] cspotcode commented on #20
Oh yeah, you're right.  The nested typescript installation I was seeing must have come from some yarn or npm quirk.  (I'm contributing to a third-party project whose scripts use a mix of yarn and npm for some reason)

[2018-06-26 18:57] cspotcode commented on #19
@cevek I just read #18.

What if we allow `require('ttypescript/clone')`?  "clone" will be a separate instance of the typescript library; it will not patch `require('typescript')`.  People who need to patch `require('typescript')` can use require('ttypescript');`

Is that a good compromise?

[2018-06-27 12:12] cevek commented on #19
I've made refactoring, now ttypescript makes copy of original typescript

[2018-06-27 12:12] cevek commented on #20
So, can I close this issue?

[2018-06-27 20:28] cspotcode commented on #20
Yes, thank you, all set.

[2018-06-27 20:28] #20 closed

[2018-06-27 20:33] cspotcode commented on #19
Cool, thanks!

[2018-07-22 20:24] dsherret opened #21 "TypeScript 3.0 support?"
I tried upgrading to `typescript@rc` and I'm getting this error with ttypescript 1.4.6 (works fine when just running tsc):

[code]

Any ideas? Sorry, I tried to look into it a bit but gave up.

[2018-07-22 20:27] #21 closed, assigned to nobody

[2018-07-30 17:21] dsherret commented on #21
@cevek do you have the time to publish it? TS 3.0 was released today.

[2018-07-30 18:10] cevek commented on #21
@dsherret done
ttypescript@1.5.2

[2018-07-30 18:16] dsherret commented on #21
@cevek thanks a lot!

[2018-07-30 19:51] cevek commented on #19
Fixed in ttypescript@1.5.2

[2018-07-30 19:51] #19 closed

[2018-07-31 01:25] dsherret opened #22 "Move typescript to peer dependency?"
Hey, when having a typescript dependency of `^3.0.1` and installing the packages with yarn, it will create a `node_modules/ttypescript/node_modules/typescript` package with a < 3.0 version. This will cause all the source files to be parsed with TS 2.9, which lead to a lot of confusion for me hah. It's a problem because the `SyntaxKind` numbers have changed so the following happens:

[code]

I foun

[2018-07-31 04:57] cevek commented on #22
I think this problem happens because of typescript dependency >=2.7.0
Because if you install dev version of typescript this version matching doesn't work for him
and ttypescript will install own typescript version.
But if you install it like `yarn add ttypescript@latest typescript@latest` it works nicely.

Actually I really don't understand why it have installed 2.9 in your case. It's nonsense

So

[2018-07-31 05:25] cevek commented on #22
So, `*` doesn't help
I've removed typescript dependency at all
Fixed in ttypescript@1.5.4

[2018-07-31 17:12] dsherret commented on #22
Awesome, I think that's the easiest solution. That's what I ended up doing in ts-nameof as well.

I'm pretty confident this will fix the problem so I'm going to close this issue. Thanks a lot for the fast fix!

[2018-07-31 17:12] #22 closed

[2018-08-29 15:21] goloveychuk opened #23 "declarations error"
I have
node_modules/ttypescript/lib/typescript.d.ts:2:15 - error TS2502: 'ts' is referenced directly or indirectly in its own type annotation.  2 declare const ts: typeof ts;
when importing 'ttypescript'.
Looks like declarations are incorrect.

[2018-08-31 06:35] foisonocean commented on #23
same problem, any updates?

[2018-08-31 07:07] cevek commented on #23
Fixed in ttypescript@1.5.5

[2018-08-31 07:07] #23 closed

[2018-09-18 14:08] woutervh- opened #24 "Suggestion: include typescript-is in Examples of transformers"
Hi there!

I've recently been working on a new project called [typescript-is](https://github.com/woutervh-/typescript-is).
Basically it generates run-time type-checks and it's using the transformer API.
Perhaps you'd like to include it in your list of examples of transformers?
🤞

[2018-09-18 15:50] cevek commented on #24
It's done

[2018-09-18 16:38] woutervh- commented on #24
Awesome, thanks

[2018-09-18 16:38] #24 closed

[2018-09-26 08:18] huafu opened #25 "Custom transformers discarded if some are given as arguments, expected behavior?"
Not sure if this is the expected behavior or not, but it does not sounds right anyway:

If the `emit()` method is given some `customTransformers`, the ones `ttypescript` would normally used from `plugins` are totally discarded.

Discarded at line `77` there:

https://github.com/cevek/ttypescript/blob/5e4592269fded55329dfcedac398581bcfca1adb/packages/ttypescript/src/patchCreateProgram.ts#L72-L80

[2018-09-26 15:16] #25 closed

[2018-10-02 18:17] maximelkin opened #27 "Readme"
But this is dangerous advice, better to move in separate directory with own tsconfig
I have problem with Set iteration, because typescript make it as indexed for iteration

[2018-11-02 07:53] purplemana opened #28 "Support running transforms on all referenced projects with the --build option"
I have a monorepo where I have configured each package to be built by `ttsc -b`. I need tsconfig alias paths to be transformed to relative paths using `https://www.npmjs.com/package/@zerollup/ts-transform-paths` module. Currently building a dependent project with ttsc doesn't run the transforms on the dependency packages. The only way is to manually build all packages in the order of dependencies.

[2018-11-02 10:57] cevek commented on #28
I've just tested project references, and it works.
[testTtsc.zip](https://github.com/cevek/ttypescript/files/2542135/testTtsc.zip)

Can you provide some example project where it doesn't work?

[2018-11-02 11:03] cevek opened #29 "Transformers doesn't work with outFile: "some""

[2018-11-02 11:08] cevek commented on #28
Maybe you put all transformers into main project which gather other projects via references?
Transformers should be in every project's tsconfig.json

[2018-11-02 13:15] purplemana commented on #28
I will share a repo with minimum repro code in some time.

[2018-11-03 03:31] purplemana commented on #28
Please access it from the branch `ttypescript` in the git repo https://github.com/purplemana/alchemist. Few points:

1. This is a lerna, yarn & TS mono-repo.
2. The important package dependencies are in this order - drivers < models < services < server.
3. Every package has a top level `src` folder. The `baseUrl` points to `.`. `Paths` is set to resolve `@src/*` to `src/*`, so inside the package c

[2018-11-03 09:10] cevek commented on #28
Your project doesn't build correctly: after `yarn install` it prints
[code]
and after `yarn build` a lot of ts errors:
[code]

[2018-11-03 12:11] purplemana commented on #28
Your yarn version seems to not support workspaces. Could you try with the latest version `1.12.1` please?

[2018-11-03 13:52] cevek commented on #28
I found your problem: `plugins` section must be in the `compilerOptions`, but you set it in the root of `tsconfig.json`

[2018-11-03 13:54] cevek opened #30 "Warn if plugins in the root of tsconfig"
from #28

[2018-11-04 02:44] purplemana commented on #28
Thanks for the super quick help @cevek! It's working as expected. Wow, this has been the end of a long list of trial and errors to get this mono-repo setup working  without heart burns.

[2018-11-04 02:44] #28 closed

[2018-12-02 12:53] ajafff opened #31 "missing import in published declaration file"
lib/typescript.d.ts
[code]

Gives a compiler error `Cannot find name 'ts'.` and causes intellisense to not work.
Maybe you could use the newer `declare const TS: import('typescript');` syntax added in typescript@2.9

[2018-12-24 03:35] pietrovismara opened #32 "Run plugins before type check"
I'm tying to run a transformer that replaces `TypeNode`s.

For example it may encounter an (undeclared) `TypeNode` named `DataRecord` and replace it with a `TypeNode` literal `any`.

The issue here is that apparently transformers are executed after typescript's type check, so by running `ttsc` i get `error TS2304: Cannot find name 'DataRecord'`. Same in vscode, even having correctly set the `types

[2018-12-24 13:19] pietrovismara commented on #32
Thanks for the quick clarification, I'm still grasping the basic concepts of the typescript API and i haven't thought of the possible issues with LS and refactorings.

[2018-12-24 13:19] #32 closed

[2018-12-26 19:33] danielpa9708 opened #33 "TypeError: f is not a function"
Hi, I made a transform for typescript and ttypescript is not working with it.

This is the transform, https://github.com/LeDDGroup/typescript-transform-jsx, and this are the test to show that the transform is working https://github.com/LeDDGroup/typescript-transform-jsx/blob/master/src/index.test.ts.

Here I'm testing it with ttypescript https://github.com/danielpa9708/test-typescript-transform-js

[2018-12-26 19:43] cevek commented on #33
try in your `tsconfig.json`
[code]
because if you don't specify `type` transformer interface should be
[code]

[2018-12-26 19:47] cevek commented on #27
fixed

[2018-12-26 19:47] #27 closed

[2018-12-26 19:47] danielpa9708 commented on #33
It worked, thanks very much for the quick response

[2018-12-26 19:47] #33 closed

[2018-12-26 19:54] danielpa9708 commented on #33
@cevek , Should I make a PR to add my transform to ttypescript readme ?, do you know of any list of typescript transforms out there ?

[2018-12-26 19:57] cevek commented on #33
it's done
check it out readme

[2018-12-26 19:58] danielpa9708 commented on #33
Wow, that was fast, thanks again

[2018-12-27 11:09] olaf89 opened #34 "Does not work with rollup"
Im trying to use plugin @zerollup/ts-transform-paths, it works when using ttsc but does not work with rollup

Rollup config
[code]

tsconfig compiler options:
[code]
When compling with ttsc it replaces paths starting with client as expected, but does nothing when building with rollup.

Im using
    "typescript": "3.1.6",
    "ttypescript": "^1.5.5",
    "@zerollup/ts-transform-paths": "1.6.5"

[2018-12-27 11:56] zerkalica commented on #34
This example works fine: https://github.com/zerkalica/zerollup-ts-transform-path-demo

Can you provide example like mine?

[2018-12-27 14:48] olaf89 commented on #34
Ok i was able to make it work, there is some bug but i don't understand it therefore cannot provide a clear way to reproduce that.

When i was changing tsconfig like adding ./**/*.spec.ts to exclude array things worked and then when switching back it stopped working. So i'm really confused i don't know if thats some kind of raise condition or what. But since i cannot reproduce it on simple example

[2018-12-29 23:31] SalvatorePreviti commented on #29
I did some investigation on this problem, it seems that there is no issue in ttypescript but the issue is in typescript itself. The problem is that when bundling to an AMD or a SystemJS module, typescript passes a Bundle node instead of a SourceFile node.

For example, changing the `before` transformer taking in consideration this behaviour executes the transformer correctly : [see here](https://g

[2018-12-30 10:02] cevek commented on #29
You're right, this problem is in the typescript. But another problem is that nobody who writes transformers do it right. So I think better way is add new option to plugin config something like `fixBundle: true` to fix this problem.

ps: ts internally uses chainBundle: https://github.com/Microsoft/TypeScript/issues/28310

[2019-01-21 16:30] xiaoxiangmoe opened #40 "Can't use "type": "ls""
see https://github.com/cevek/ttypescript/blob/4ee7113fb17140e21792d6d9a4233184dad07a8b/packages/ttypescript/src/patchCreateProgram.ts#L90

and

https://github.com/cevek/ttypescript/blob/4ee7113fb17140e21792d6d9a4233184dad07a8b/packages/ttypescript/src/PluginCreator.ts#L86

[2019-01-21 17:54] xiaoxiangmoe opened #41 "The optional name of the exported transform plugin in the transform module seems not work."
[code]

[2019-01-21 19:30] cevek commented on #40
The problem that `ls` in not possible to get from the program and I will remove it from config soon. Sorry

[2019-01-21 19:31] #40 closed

[2019-02-21 13:45] DavidBabel opened #43 "Seems not working with ts-node"
Hey there,

I'm trying to bootstrap a project with your tool, and i got an issue to make this "plugin" work with ts-node.

Here is a reproductible repository : https://github.com/DavidBabel/test
[code]

Here is the error :
[code]

I do not know if it's related to https://github.com/cevek/ttypescript or the plugin https://github.com/grrowl/ts-transformer-imports

Fun part, it works well if i use ts

[2019-02-21 19:47] cevek commented on #43
I've debugged it, so this is bug from ts-transformer-imports
this lines
https://github.com/grrowl/ts-transformer-imports/blob/master/transformer.ts#L7
disable transforming files by ts-node, so node.js try to perform ts files like js files.

[2019-02-21 19:52] cevek commented on #43
try this one
https://github.com/zerkalica/zerollup/tree/master/packages/ts-transform-paths

[2019-02-22 06:31] DavidBabel commented on #43
Thanks mate !

Amazing tool by the way.

[2019-02-22 06:32] #43 closed

[2019-03-03 11:44] gfx opened #44 "No tag is pushed: v1.5.6"
missing `git push --tags` ?

[2019-03-20 08:42] jsamr opened #47 "How to use this it with jest (and ts-jest) ?"
First of all, thanks for this great tool :-)
I haven't found a working example yet. Would be very handy!

[2019-03-20 09:24] jsamr commented on #47
[OK, i found it](https://kulshekhar.github.io/ts-jest/user/config/compiler). Would be nice to document!

[2019-03-20 16:14] cevek commented on #47
I've added ts-jest example to readme.
Thank you!

[2019-03-20 16:14] #47 closed

[2019-03-20 16:14] #41 closed

[2019-04-19 16:28] wielrls opened #48 "Suggestion: include ts-optchain as example transformer"
We have built a custom transformer to support optional chaining in TypeScript: https://github.com/rimeto/ts-optchain

[code]

`ts-optchain/transform` automatically converts the code:
[code]

...into:
[code]

Would appreciate a cross-link!

[2019-04-26 07:20] alteredtastes opened #49 "process.cwd() won't find peer dependency if located in other directory"
line 8 `/lib/tsc.js` assumes the peer typescript dependency is in same directory as where the process began. it would be great to have an optional arg for indicating where exactly the typescript peer dependency is.

When I `cd ./app` and run `ttsc`, ttsc can't find the peer dependency from ./build/node_modules
[code]

[2019-04-26 19:49] amaschas opened #50 "-w (watch) flag throws a TypeError"
I've tested this in v1.5.6 and v1.5.5. I run the ttsc transpiler via `ttsc -w`, and any code changes cause the transpiler to throw `TypeError: Cannot read property 'text' of undefined`. I've tested the same codebase with vanilla TypeScript and it transpiles without errors with the watch flag. Note that the code transpiles fine in the first run, it's the retranspilation that throw the error. Comple

[2019-04-26 19:51] cevek commented on #50
Do you use any transformer?

[2019-04-26 19:56] amaschas commented on #50
Ah yes, I do use `ts-transformer-imports`. That may very well be the problem, let me explore. Thanks!

[2019-04-27 10:06] zerkalica commented on #50
@amaschas  You can check analog https://github.com/zerkalica/zerollup/tree/master/packages/ts-transform-paths. probably, i fix something about watch mode (https://github.com/zerkalica/zerollup/issues/12) recenlty.

[2019-04-30 21:31] amaschas commented on #50
Thanks, that one works fine with the `-w` flag. I'll report the issue on the `ts-transformer-imports` github.

[2019-04-30 21:31] #50 closed

[2019-05-01 12:39] cevek commented on #48
done!

[2019-05-01 12:39] #48 closed

[2019-05-09 14:47] anion155 opened #51 "Any way to ignore some diagnostics?"
I'm trying to implement transformer for operators overloading. It does work. But I can't get rid from diagnostic errors. Is there any way it could be done?

Simple transformer:
[code]

[2019-05-09 14:54] cevek commented on #51
Unfortunately this is not possible, you cannot change checker diagnostic behaviour from transformers. You can only add new ones

[2019-05-09 14:57] anion155 commented on #51
@cevek any way to disable error for all code?

[2019-05-09 15:51] anion155 commented on #51
@cevek I mean, for whole project.

[2019-05-09 16:52] #51 closed

[2019-05-25 10:13] zaoqi opened #52 "How to transform typescript to typescript?"

[2019-05-25 15:13] cevek commented on #52
ttypescript is just tool which add possibility to typescript to transform result js files
If you want transform original typescript file you need to write your own tool

For example
[code]

it gets source typescript code and transform any number literal to 42

[2019-05-29 08:17] #52 closed

[2019-06-05 14:39] andykais opened #53 "parcel plugin not respecting "extends" keyword"
I have tsconfig files in a folder `tsconfig/`. I added a toplevel `tsconfig.json` file with the contents
[code]
so my project directory looks like so:
[code]
I created this file specifically so this plugin can find my nested configs. Unfortunately it does not seem to notice the tsconfigs in the `tsconfig/` folder. I know it does not because I have tried leaving an invalid json file in tsconfig/tsc

[2019-06-07 10:15] bradleyayers opened #54 "Publish 1.5.7"
Would it be possible to release a 1.5.7 with the fixes on master? The new package.json with typescript listed in peerDependencies is a fix for a blocker to using yarn v2 (pnp).

[2019-06-07 10:20] cevek commented on #54
done

[2019-06-07 10:22] bradleyayers commented on #54
Awesome, thanks!

[2019-06-07 10:23] #54 closed

[2019-06-07 10:31] cevek commented on #53
Yeah, the problem is here
https://github.com/parcel-bundler/parcel/blob/master/packages/core/parcel-bundler/src/assets/TypeScriptAsset.js#L37

parcel just uses `tsconfig.compilerOptions` without try to parse this config by typescript internal tools which should normalize config by reading extends and etc

[2019-06-07 10:58] cevek commented on #44
I have no tags )

[2019-06-07 10:58] #44 closed

[2019-06-07 11:01] cevek commented on #49
You can install ttypescript near your typescript, don't use it from global node_modules

[2019-06-07 13:29] andykais commented on #53
ah, good to know. Is there an issue already open in parcel-bundler?

[2019-06-07 13:37] cevek commented on #53
So, I don't see anything

[2019-06-07 14:47] andykais commented on #53
actually it looks like a bug has already been reported https://github.com/parcel-bundler/parcel/issues/2856

[2019-06-11 00:45] gfx commented on #44
You should make a tag for each release!

[2019-06-13 13:27] raine opened #56 "Usage with @zeit/next-typescript"
Hello. Any idea how to hook this into [`@zeit/next-typescript`](https://github.com/zeit/next-plugins/tree/master/packages/next-typescript)?

Looking at the source code of `@zeit/next-typescript`, I'm not sure how the webpack configuration shown in the README.md could be applied there.

Thanks.

[2019-06-15 04:10] dgoldstein0 opened #57 "ttypescript does not look for typescript or transformers in expected places"
I am attempting to run ttypescript with my company's build system, and we have a slightly nonstandard way of using node; we expect ttypescript to search NODE_PATH, like node does when it's set, to find transforms & for typescript; we also expect it to honor --preserve-symlinks.

I'm not totally sure why it's not working, but I noticed that ttypescript uses resolve(), and almost certainly uses diff

[2019-07-02 00:43] MicahZoltu opened #59 "Ship with source maps."
Rather than coming in here and asking questions for help, I was trying to help myself by stepping through the code to see if I could figure out what was going wrong.  Unfortunately, ttypescript does not ship with source maps, so I'm left stepping through generated JS code which is quite difficult to read.

Consider adding `sourceMaps: true` and `inlineSources: true` to `tsconfig.json` of this proj

[2019-07-08 09:12] timocov opened #61 "Missing changelog entries and git tags"
It looks like there is some releases after 1.5.5 (the latest version is 1.5.7), but no changelog entries and git tags is found in the repo/changelog file.

[2019-07-08 16:53] oleersoy opened #62 "Typescript transform paths deleting / not generating import in *.d.ts files?"
Hi,

I'm looking into how to go about fixing this bug:
**https://github.com/LeDDGroup/typescript-transform-paths/issues/24**

Import declarations are being left off generated `*.d.ts` files.  Looking through the source code I think this is the relevant section that does the work, but I don't see why it would cause the import to be left off, so I was wondering if maybe you would have any additional

[2019-07-09 02:17] oleersoy commented on #62
I noticed that imports for nodes that are implementation specific are not being generated / included by the build.  I wonder if the proper way to distinguish between nodes that should be included in `*.d.ts` files and which ones are not is clear.

[2019-07-09 19:06] danielpza commented on #62
Actually @oleersoy the code is from typescript https://github.com/microsoft/TypeScript/blob/583edce6b0505e12a4627902147141661ca1b256/src/compiler/transformers/ts.ts#L3051, we just made small changes, related https://github.com/microsoft/TypeScript/issues/31446

[2019-07-09 21:00] #62 closed

[2019-07-14 14:56] thetutlage opened #63 "Is `ts-node` a required dependency to use this module?"
Up until `1.5.6`, I was able to use `ttypescript` without installing `ts-node` as a separate dependency. However, from `1.5.7` onwards, the `ttsc` command fails when `ts-node` is not installed.

I do see a commit that moves `ts-node` from dependencies list to peerDependencies list, but I am not sure why `ts-node` is required when I just want to compile the code using `ttsc`

[2019-07-25 01:23] tbranyen commented on #63
peer-deps don't install by default. this allows you to control the version. its the right behavior. you'll need to version it alongside

[2019-07-25 01:33] thetutlage commented on #63
I know how peer dependencies works. The main question was, why compiling code needs `ts-node`? Isn’t typescript alone enough

[2019-07-25 09:49] cevek commented on #63
@thetutlage `ttypescript` uses `ts-node` because you can specify local project transformers written in typescript

[2019-07-25 10:02] thetutlage commented on #63
Okay makes sense. I was just trying to understand the reason behind its usage.

[2019-07-25 10:02] #63 closed

[2019-07-29 21:56] leereichardt opened #64 "ESLint 6 Compatibility"
**Environment**

- ESLint version:	6.1.0
- ttypescript:	1.5.7

Upgrading to ESLint v6 shows warnings when installing:
`npm WARN ttypescript@1.5.7 requires a peer of ts-node@^8.0.2 but none is installed. You must install peer dependencies yourself.`

[2019-08-03 05:27] Js-Brecht opened #65 "Git URL is invalid"
I just wanted to let you know that the Git URL for `ttypescript` is invalid.  Not really that big of a deal; still easy enough to find your repo.  I just keep running into it, because I wind up using `npm info` to open it.  Doing the search on Github pops it right up, or can erase most of the url (back to the parent repository) after navigating to the broken link.  I just prefer launching a URL st

[2019-08-12 14:43] stefanullinger commented on #34
Hi, I am running into a similar issue. Trying to use rollup, rollup-plugin-typescript2, ttypescript, and a custom transformer. It works when using rollup 0.68.2, but the transformer is not executed when running rollup >= 1.0.0. Still trying to figure out, why that is the case...

[2019-08-13 07:08] dehamzah opened #66 "Usage with React Native"
Any clue how to use this in react native project?

[2019-08-13 07:51] dehamzah commented on #66
I just found this https://github.com/react-native-community/react-native-template-typescript/issues/23#issuecomment-426533599

It says the typescript will not be used as transpilers. so this package will not work with react native.

[2019-08-13 07:51] #66 closed

[2019-08-16 09:02] viT-1 opened #67 "Can i use more than one transform-plugin?"
e.g.
typescript-transform-paths for resolving tsconfig > paths
and @zoltu/typescript-transformer-append-js-extension for preparing scripts for es6 browser loading

[2019-08-16 09:15] viT-1 commented on #67
I need this to solve problem with paths in [my project](https://github.com/viT-1/systemjs-ts-es6)
I want to use more standart way than hacking sources with gulp-replace

[2019-08-22 10:14] viT-1 opened #68 "Yet another transformer for paths"
Please update readme.md
[@zerollup/ts-transform-paths](https://www.npmjs.com/package/@zerollup/ts-transform-paths)
It canbe configured as is in tsconfig or as plugin for rollup

[2019-09-05 10:49] viT-1 opened #69 "ttypescript with transform plugins"
1.5.7 is working and transformed paths (by command line `ttsc --project ./tsconfig.json`) with custom transformers (e.g. @zerollup/ts-transform-paths) but latest (2.5.2) is not

[2019-09-10 09:02] stefanullinger commented on #34
Hi, so I finally gave it another try using rollup 1.15.6, ttypescript 1.5.7 and replaced rollup-plugin-typescript2 with rollup-plugin-typescript 1.0.1. This is executing the custom transformer for me. Unfortunately I will lose the advantages of rollup-plugin-typescript2 in this case, but executing the custom transformer is more important to me in my current project.

[2019-11-06 10:12] unstubbable opened #70 "Incompatible with TypeScript 3.7"
Apparently the signature of `ts.executeCommandLine` has been changed in TS 3.7 which breaks the implementation in [packages/ttypescript/src/tsc.ts](https://github.com/cevek/ttypescript/blob/master/packages/ttypescript/src/tsc.ts).

[2019-11-06 13:41] cevek commented on #70
Fixed in ttypescript@1.5.8
https://github.com/cevek/ttypescript/releases/tag/1.5.8

[2019-11-06 13:51] unstubbable commented on #70
Awesome, thanks for the quick fix!

[2019-11-06 13:51] #70 closed

[2019-11-10 14:30] MichalLytek commented on #69
Both `1.5.7` and `1.5.8` works for me with `--project` and `@zerollup/ts-transform-paths`. Only the newest plugin [1.7.4 doesn't work](https://github.com/zerkalica/zerollup/issues/18).

[2019-11-28 13:34] opensas opened #71 "getting "SyntaxError: Cannot use import statement outside a module" error using ts-node with -C typescript option"
I was using ts-node with tsconfig-paths like this:

[code]

and everything worked fine. Then I tried to use it with ttypescript to get rid of the tsconfig-paths dependency, like it's shown here: https://github.com/cevek/ttypescript#ts-node:

[code]

But when I try it I get the following error:

[code]

This is the file app.ts

[code]

I'm using ttsc to run `npm run prod` and they work ok.

For the

[2019-11-30 20:44] mflux opened #72 "Cannot read property 'length' of undefined after updating"
I'm getting this:

[code]

Running this:

```npx ttsc --project tsconfig.json -w```

While having these versions:

[code]

Is the latest version broken?

[2019-12-01 01:06] nonara commented on #72
TS 3.7 changed the structure a bit of tsc which breaks ttypescript code. It looks like it should have been addressed in ttypescript v1.5.8. Try reinstalling and making sure you have 1.5.8.

I'm not sure how much support this repository is getting any more. You're welcome to try [ts-patch](http://www.npmjs.com/ts-patch/) if it doesn't work for you. It was based on ttypescript

[2019-12-01 01:11] nonara commented on #71
I ran into this issue during porting some of this code for [ts-patch](http://npmjs.com/ts-patch). The problem is that tts walks up the node modules chain to look for ts-node. If it finds it, it does not call ts-node.register. The problem is, there are cases where ts-node can be loaded without having had register called.

In this case, during createProgram, when it tries to load your Typescript bas

[2019-12-01 05:47] cevek commented on #72
@mflux Can you provide repro project? ttypescript works fine with ts 3.7

[2019-12-01 06:02] cevek commented on #71
@opensas Can you please provide repro project. I have tried your example, and it works for me

[2019-12-01 06:03] cevek commented on #69
The problem on the ts-transforms-paths side

[2019-12-01 06:03] #69 closed

[2019-12-01 06:07] cevek commented on #68
Done!

[2019-12-01 06:07] #68 closed

[2019-12-01 06:09] cevek commented on #67
Yes, you can use many plugins

[2019-12-01 06:09] #67 closed

[2019-12-01 06:12] cevek commented on #65
Thanks!

[2019-12-01 06:12] #65 closed

[2019-12-01 06:14] cevek commented on #64
This warning comes from npm. You just need to install ts-node

[2019-12-01 06:14] #64 closed

[2019-12-01 06:14] cevek commented on #61
fixed

[2019-12-01 06:14] #61 closed

[2019-12-01 06:19] cevek commented on #56
You can use https://github.com/nonara/ts-patch for this framework

[2019-12-01 06:19] #56 closed

[2019-12-01 06:20] cevek commented on #31
fixed

[2019-12-01 06:20] #31 closed

[2019-12-01 06:22] cevek commented on #49
PR welcome

[2019-12-01 06:23] cevek commented on #53
Fixed in parcel@2

[2019-12-01 06:23] #53 closed

[2019-12-01 06:26] cevek commented on #57
Can you provide some example project?

[2019-12-01 07:43] opensas commented on #71
Sure, here I tried to reproduce a pretty minimal example here: https://gitlab.com/opensas/tts-node_test

package.json

[code]

tsconfig.json

[code]

src/start.ts

[code]

src/app.ts

[code]

[code]

[2019-12-01 08:36] cevek commented on #71
@opensas The problem lies within `ts-transformer-imports`
see this issues for more info
https://github.com/cevek/ttypescript/issues/50
https://github.com/cevek/ttypescript/issues/43

so, just try another path mapper transformer like https://github.com/zerkalica/zerollup/tree/master/packages/ts-transform-paths

[2019-12-01 17:13] opensas commented on #71
I can confirm that it works ok, I just did the following:

[code]

and then

tsconfig.json

[code]

and now `ts-node -C ttypescript src/start.ts` works ok

[2019-12-01 17:13] #71 closed

[2019-12-01 22:06] mflux commented on #72
Looks like I had outdated typescript installed in global packages. Thanks all.

[2019-12-01 22:09] mflux commented on #72
Here is what I'm trying to run

https://github.com/mflux/voronoi

[2019-12-02 06:29] cevek commented on #72
Have you tried running it from scratch?
For me everything compiled fine

[2019-12-02 22:31] mflux commented on #72
Thanks, I got it working from scratch. Had to delete all my global npm packages.

[2019-12-02 22:31] #72 closed

[2019-12-04 14:42] VienNguyen113 opened #73 "Is there any plugin support import or require .graphql file?"

[2019-12-04 19:55] cevek commented on #73
It is impossible within typescript plugin system to work with other files types rather than ts/js

[2019-12-04 19:55] #73 closed

[2019-12-07 01:34] dgoldstein0 commented on #57
unfortunately I was doing this with a huge amount of non open-source stuff.  But to summarize some of the highlights that are probably important
- we have a single node_modules/ folder, it's pointed to by NODE_PATH.  my typescript install is symlinked into here. as well as ttypescript
- we run node like `NODE_PATH=<our node_modules/> node --preserve-symlinks --preserve-symlinks-main symlink/to/mai

[2019-12-07 13:27] cevek commented on #57
Ok, thank you for explanation.
Your case is very specific, so you can as you said use typescript api to do more specific settings.
ttypescript is just like a sugar over typescript api.
Main goal of that is to reduce pain for a common scenarios.

[2019-12-07 13:27] #57 closed

[2019-12-07 13:33] Pita opened #74 "How to integrate with create react app?"
Hello,

I love ttypescript, thank you! I'm currently trying to figure out how to integrate it into a project created with "create react app". I know that CRE uses webpack under the hood and that there are modules that let you rewire that webpack config. Could you provide an example of how to do it correctly?

[2019-12-11 14:11] viT-1 opened #75 "package.json version & changelog versions info outdated"
Please update versions.

[2019-12-12 14:05] sveyret opened #76 "Example of transformer: ts-transform-asset"
Hi,

You are giving examples of transformers in your readme. Just for information, I wrote a transformer which you could add to the list, if you want:
https://www.npmjs.com/package/ts-transform-asset

Thank you

[2019-12-12 15:41] cevek commented on #76
Hi @sveyret!
We discussed earlier about the same plugin with @zerkalica for native SSR without using webpack compilation.
But we found a problem with this type of transformation.
The problem is that webpack loader moves your assets into the dist directory and then if you are using another production loader - it renames your assets by adding hash of file content.
So destination html layout with web

[2019-12-12 15:46] cevek commented on #75
You're right, changelog file is outdated. But actual releases now in https://github.com/cevek/ttypescript/releases

[2019-12-12 15:46] #75 closed

[2019-12-12 15:53] cevek commented on #74
Hello @Pita!
I think it's not ease to configure webpack config in the CRE, so try another tool https://github.com/nonara/ts-patch based on ttypescript, which patches installed typescript library inside node_modules. After applying this patch you don't need to configure your CRE, because your installed typescript would be act like ttypescript

[2019-12-12 15:53] #74 closed

[2019-12-12 15:54] cevek commented on #74
@nonara is it possible right?

[2019-12-12 15:58] sveyret commented on #76
I am not personally using hashes to prevent this kind of situation. I did not investigate and thought that the hash was somehow a random number, and therefore impossible to reproduce.

But sure, if it is actually calculated based on the file content, or in any way that I can also use to find the same result, I could add an option for that in the transformer…

[2019-12-13 09:57] viT-1 commented on #75
Releases almost have not information about version differences.

[2019-12-13 19:40] nonara commented on #74
It should work, yes! ts-patch will apply the same logic directly to the typescript installation, so you shouldn't need to configure webpack.

@Pita try running this in your project dir: `npx ts-patch install --persist`

[2019-12-18 18:03] CristianPi commented on #70
I don't know why, but with typescript 3.7.x (with 3.6.x it works) the ttsc command crash with:
`performCompilation(sys, reportDiagnostic, cb, __assign(__assign({}, commandLine), { options: commandLineOptions }));

ReferenceError: __assign is not defined
`

Do i need to change something?

I already have the package to 1.5.8
typescript 3.7.3

[2019-12-23 11:53] DanielMazurkiewicz opened #77 "[QUESTION] Having troubles that end up with error "Can not read property flags of undefined""
Here is my code

[code]

Found out that responsible for this error is
[code]

Any import in code as string is causing that mentioned error (detailed error below). Don't know if it is a bug or if I should do something more to get it working?

[code]

[2019-12-25 12:32] cevek commented on #77
I think the problem is that typescript try to understand what import type is using. Because syntacticly impossible to check that `path` is real variable/class/function or interface/type. All types and interfaces will be removed by native es6 transformer. This transformer uses typechecker information, stored into `flags` field in each ast node to check real meaning of this import.
So, try create th

[2019-12-25 16:45] cevek commented on #77
see https://github.com/microsoft/TypeScript/pull/35200

[2019-12-28 15:27] DanielMazurkiewicz commented on #77
@cevek Thanks!

[2019-12-28 15:27] #77 closed

[2019-12-28 16:07] #30 closed

[2019-12-28 16:07] #29 closed

[2019-12-28 16:12] #49 closed

[2020-01-07 05:34] madou opened #78 "Transformers with TSX extensions are not compiled"
Hi! Love the tool.

I'm trying to use it with `ts-loader` and `ts-jest` with an uncompiled transformer written in typescript - but it doesn't get compiled by ts-node (with compiler set as `ttypescript`).

It's fine if I run `ttsc` though.

Any ideas?

[code]

[2020-01-07 09:08] cevek commented on #78
I've just checked ts-jest with uncompiled transformer - it works for me.
Could you please provide your example project to investigate the issue?

[2020-01-07 09:37] madou commented on #78
Sure no worries will make a branch for you in a bit, thanks for the quick
response!

On Tue, 7 Jan 2020, 8:08 pm cevek, <notifications@github.com> wrote:

[2020-01-07 11:20] madou commented on #78
hi @cevek

[code]

PR here https://github.com/compiled/css-in-js/pull/32

[2020-01-07 14:23] cevek commented on #78
Thank you!
I've found and fixed a bug with ts-node config which working only with `ts` extenstion but no `tsx`
Check out `ttypescript@1.5.9`

[2020-01-07 22:37] madou commented on #78
sweet thanks @cevek! that does indeed fix my problem - interestingly it doesn't look like `esModuleInterop` option is flowing through though.

could it not be picking up all the tsconfig?

[code]

[2020-01-08 09:46] cevek commented on #78
I've added esModuleInterop: true in ttypescript@1.5.10

For the transformer files should be another tsconfig because they run on nodejs side and can be different from main project settings.
In plugin system is not always possible to read from file system, so it should be default config for transformers.
Maybe in future we will support custom tsconfig

Default config:
[code]

[2020-01-08 13:30] madou commented on #78
fantastic solves all my problems, thanks @cevek!

yeah that makes sense when said out loud - TIL 😄

thanks again!

[2020-01-08 13:30] #78 closed

[2020-01-14 16:47] sveyret commented on #76
Hi @cevek!

For your information, I finally found time to look at how `Webpack` is working and mimic it (in a simpler way, the transformer is not able to do everything the `file-loader` is doing).

So, it is now possible (with version 3) to specify hash to the file name…

Do not hesitate and tell me what you think: https://www.npmjs.com/package/ts-transform-asset

Regards.

[2020-02-07 18:15] sveyret commented on #76
Hi @cevek, I created a new transformer and also some tools to help transformer creation. I made a PR #79 for you can add the references in the README file.

Thank you!

[2020-02-13 13:16] #76 closed

[2020-02-22 14:40] WolverinDEV opened #82 "Breaks with typescript ^3.7.X"
Hey,
sadly `ttypescript` does not work with typescript 3.7.X or above.
It throws this error:
[code]

My guess is because the `tsc.js` file has changed a bit.
They're now redefining some `__` functions like `__assign `.

[2020-02-26 06:10] alshdavid opened #83 "Is it possible to use this with just a CLI tool?"
If I'd like to apply plugins from the CLI, is that possible?

Something like:

[code]

[2020-03-06 23:19] DoctorGester commented on #82
I'm using
    "ttypescript": "1.5.9",
    "typescript": "3.7.4",

and it works fine

[2020-03-10 09:41] WolverinDEV commented on #82
I'll have a look later, but I'm currently quite busy (exams time^^)

[2020-03-11 02:43] bradennapier opened #84 "How to use with mocha? has to use `ts-node/register`"
Hey!  Thanks for the work on this.

Wondering how we can use this with mocha?  tsconfig-paths has its own `tsconfig-paths/register` to make this work

https://github.com/dividab/tsconfig-paths#with-mocha-and-ts-node

Basically with mocha we have to run `mocha -r ts-node/register` -- but that wouldnt have the compiler flag.

[2020-03-30 21:24] FFdhorkin opened #85 "Usable with babel-loader?"
We're using webpack with babel-loader, rather than ts-loader. Is there a way to get ttypescript working in this use case? Babel doesn't seem to support any the hooks for ttypescript's hooks.

[2020-03-31 09:05] cevek commented on #85
ttypescript is just enhanced typescript
If you are using babel to compile ts to js you, ttypescript cannot help you.
But babel has builtin support for transformers, so try to write some babel plugin https://babeljs.io/docs/en/plugins#plugin-development
but babel cannot get typescript types

[2020-03-31 09:05] #85 closed

[2020-03-31 09:07] cevek commented on #83
No, ttypescript doesn't support CLI, only support tsconfig

[2020-03-31 09:07] #83 closed

[2020-03-31 09:14] cevek commented on #84
register from ts-node has options
[code]

[2020-04-01 02:01] bradennapier commented on #84
I think the point I was making is that it would be nice to have a `ttypescript/register` or something similar - most have such an options such as `ts-node/register` or `babel-node/register` so that we can do this without having to use the programmatic api (which we could just use transformers at that point ;-)

[2020-04-01 21:15] madou opened #86 "Watch mode & transformers"
Hey mate! I'm running some code with `ttsc --watch` mode enabled and it seems on re-compilation it doesn't apply the transformer? (Or my transformer does something odd and not work with watch mode?)

Is there any knowledge you have around this?

Transformer in question: https://github.com/atlassian-labs/compiled-css-in-js
Code in question: https://github.com/compiled/website

[code]

And then edit

[2020-04-01 21:23] Zn4rK commented on #86
Wow! I've run in to this problem exactly with a custom transformer I'm working on.

The first time the transformer runs, it works. The second time it gets compiled, it doesn't work. Then I trigger a third build, and the second compilation shows up....

[2020-04-01 21:56] nonara commented on #86
Would either of you mind seeing if the same happens with https://npmjs.com/ts-patch ? I have noticed some strange activity on tsserverlibrary's watch. I'm wondering if it may be related

[2020-04-01 22:38] madou commented on #86
Can do - will be a day or two :)

[2020-04-02 07:53] Zn4rK commented on #86
I've just tested with ts-patch, and I'm seeing the same thing there.

Just out of curiosity I decided to test the same thing with `webpack`, `ts-loader` and `ttypescript` (and TypeScript with ts-patch), and I'm seeing the same behaviour there. It seems like the program is re-used...

I also tried with the archived `awesome-typescript-loader` and `ttypescript`. And ~8/10 it works as expected - i.e.

[2020-04-02 08:26] cevek commented on #86
@Zn4rK Can you share please your transformer so that I can inspect the problem?

[2020-04-02 08:30] Zn4rK commented on #86
@cevek Can't share the transformer right now. I'll set up a reproduction of the transformer later today though! 👍

[2020-04-02 08:38] cevek commented on #86
@Zn4rK thank you!

@madou your example works for me, every change I've done in root.tsx transpiles into root.js in dist folder
What am I doing wrong?

[2020-04-02 08:52] cevek commented on #84
Good point. PR welcome :)

[2020-04-02 18:39] Zn4rK commented on #86
@cevek I've made a reproduction here:
https://github.com/Zn4rK/ttypescript-repro

Edit the argument name in the function in `index.ts` and check the result of `dist/src/other.js`. It should have updated the object with a new property with the value of the argument name of the function.

I'm not able to consistently reproduce this issue, but whilst building the crude reproduction, I've managed to h

[2020-04-02 18:47] madou commented on #86
hey thanks for having a look - yeah it's weird it's not happening now. unsure why! it would be quite obvious when it happens though - Parcel would blow up because it can't run the untransformed code

[2020-04-02 19:41] cevek commented on #86
@Zn4rK the problem of your transformer is that it relies that after any change of any file transformer will process every file in project, but it does only in typescript watch mode, webpack, parcel run transformations in simple mode, which file has changed is processed.

You can console.log your transformations in transformer.ts to debug what files are processed
[code]

[2020-04-02 19:46] cevek commented on #86
@madou Be careful with parcel and `ttsc -w` running simultaneously, because they both write to dist folder
these two watchers will override result of each other: parcel without transformations, ttsc with transformations

[2020-04-02 21:29] madou commented on #86
they're writing the different `dist` folders :) but the warning makes sense, thanks.

[2020-04-04 22:53] AlexLeung opened #87 "Ideas on how to combine ttypescript with Yarn's PnPify?"
## Context

I'm working on a tool for managing typescript monorepos. Kind of like Lerna, but it includes auto-generation of TypeScript project references + other quality of life improvements aimed specifically at typescript projects.

I've landed on making the tool a Yarn v2 (Berry) plugin, because Yarn's [Plug n Play dependency system](https://yarnpkg.com/features/pnp) provides error-free hoistin

[2020-04-05 09:07] cevek commented on #87
Ideally, ttypescript should be pnp compatible. So one reason it is not compatible now is it using of `resolve` module, which try to find typescript lib in `process.cwd()` folder for `lib/tsc.ts`
so, if I remove this part I think it would be completely pnp compatible and it can use pnpfied typescript without any problem

[2020-04-05 10:18] arcanis commented on #87
The `resolve` module is compatible with PnP (since 1.9), so this should be ok already.

I think

Note that Yarn doesn't have a user-facing "custom TypeScript compiler". We patch the `typescript` package in-place at install time in order to automatically merge https://github.com/microsoft/TypeScript/pull/35206, so as far as `ttypescript` is concerned, they can just keep using `typescript` and it'll

[2020-04-05 15:17] Zn4rK commented on #86
First of all, @madou, sorry for hijacking this issue.

I've had some time to work on the original transformer in question. I've also updated the "[reproduction](https://github.com/Zn4rK/ttypescript-repro)" to reflect that. The updated example better reflects how I'm actually using the transformer. The dependency graph is updated, and when "index.ts" is edited, it also transforms "other.ts".

The p

[2020-04-05 21:30] madou commented on #86
no worries @Zn4rK it's good you're getting somewhere with this 😄

[2020-04-09 10:03] NickSeagull commented on #82
Can confirm, I'm getting the same error on TS 3.7.4, and 3.7.5

OS: Windows 10

[2020-04-09 10:10] NickSeagull commented on #82
I have tried to remove the [`replace` call in `tsc.ts`](https://github.com/cevek/ttypescript/blob/master/packages/ttypescript/src/tsc.ts) and it works. But I guess that this is not intended.

Also, why is the minification needed?

[2020-04-09 11:46] NickSeagull commented on #82
I see, if one removes the `replace` call, the `createProgram` doesn't get patched properly

[2020-04-10 17:25] cevek commented on #82
@NickSeagull can you please `console.log(commandLineTsCode)` and attach it here as file?

[2020-04-11 14:11] n8jadams opened #88 "EACCES bug with tsc-watch"
My npm script in package.json:
[code]

The output when I run `npm run dev:server`
[code]

I had to run `chmod -R u+x /my/project/folder/node_modules` to fix it. Seems kind of weird that I would run into permission problems, I didn't tamper with any permissions, just used things how npm intends...

(I'm running on MacOS btw)

[2020-04-11 20:21] n8jadams commented on #88
I'm closing this as I can't really replicate it, nuking my whole repo, cloning again, reinstalling node_modules etc fixed it...

[2020-04-11 20:21] #88 closed

[2020-04-13 17:30] NickSeagull commented on #82
Ok this is embarassing, but I literally re-cloned the repo, redid everything I tried and now no error appears. Perhaps it is some issue in the lock files?

[2020-04-14 20:08] cevek commented on #82
Do you have previous broken version?

[2020-04-15 10:22] NickSeagull commented on #82
No sorry, I had deleted it and for some reason I cannot seem to reproduce.

[2020-04-16 11:51] Danielku15 opened #89 "Use together with "noEmit""
I would like to do some custom file writing within my transformer instead of doing actual typescript > javascritpt emitting. For this I tried to set `"noEmit": true` on my tsconfig but due to this also no transformers are called.

Is there a way, or can you add a way that the transformers are called with noEmit set? I also tried to return a null node in the transformer in the hope that this would

[2020-04-16 17:18] nonara commented on #89
@Danielku15 That would require altering the way that TS works in a significant way and would likely get complicated or potentially not be possible without rewriting internal TS routines, which ttypescript doesn't do, currently. Which is not to say that it isn't possible. That would be up to cevek, the author.

There is an easier way to accomplish what you'd like to do, however! The way that this s

[2020-04-16 17:22] Danielku15 commented on #89
Awesome. I knew about the internal "host" system of typescript where you can modify certain system interaction behaviors but I didn't think of just stipping out the writeFile.

I temporarily had bootstrapped a custom "tsc" command using the raw compiler API to do my custom transpiling. But with this solution I might get all the fancy features back like `watch`. I will definitly give it a shot, tha

[2020-04-16 17:42] nonara commented on #89
@Danielku15 Not a problem! I actually just came across it, myself. I needed the ability to add JSDoc comments and tags, which TS still frustratingly does not support. I ended up doing the main transforms, printing the the source text and splicing in the comment ranges, then instead of outputting the node in the transformer, my hooked writeFile supplies the new text for the modified files.

[2020-04-16 23:38] w0nche0l commented on #74
Just wanted to put this here in case other people stumble upon this thread:

From what I can tell, ts-patch will modify the typescript installation in your project, but the problem is that Create React App does NOT use typescript at all except for type checking.

It uses babel for the actual compilation/emitting javascript, so ts-patch will not help you will getting custom transformers in create r

[2020-04-17 00:43] dko-slapdash opened #90 "ttsc --assumeChangesOnlyAffectDirectDependencies doesn't work"
This performance feature was added in 3.8 - https://devblogs.microsoft.com/typescript/announcing-typescript-3-8/ - and seems to be a no-op in ttsc.

In fact, ttsc seems to re-compile all the dependencies anyway, and even, although the compiled output is not changed (the files contents are identical), it still overwrites the files - which a) takes time, and b) makes e.g. nodemon to trigger more and

[2020-04-17 01:14] dko-slapdash commented on #90
Here is a GitHub repo with repro: https://github.com/dko-slapdash/ttsc-watch-issue

[code]

[2020-05-09 13:32] Danielku15 commented on #89
Due to some other new needs in my compilation pipeline I decided to stay with my current setup of setting up the compiler on my own and not going for a transformer. Thanks for the assistance 😃

[2020-05-09 13:32] #89 closed

[2020-05-09 15:53] nonara commented on #89
@Danielku15 Np! You might find the recent version of ts-patch useful! I've added 'beforeEmit' option which lets you alter Program before calling emit. It should allow you to integrate your process into tsc.

[2020-05-09 18:26] oaosman84 opened #92 "ttsc -watch crashing when regenerating files"
Hey,
  We use `ttsc -watch`, and when I regenerate some files (using Apollo's [code type generator](https://github.com/apollographql/apollo-tooling#apollo-clientcodegen-output)), the compiler crashes. Though the stack trace is coming from typescript, this doesn't seem to happen with normal `tsc - watch`.

[code]

[2020-05-18 03:57] Jack-Works opened #93 "feature request: expose transpileOnly mode in ttypescript"

[2020-07-01 05:41] Mr-jiangzhiguo opened #98 "How use it in gulp ?"
Will it support in gulp ?

[2020-07-01 11:09] cevek commented on #98
[code]
or
[code]

[2020-07-01 11:09] #98 closed

[2020-07-01 11:29] Mr-jiangzhiguo commented on #98
I hope it can appear in README.md

[2020-07-02 15:07] Exeteres opened #99 "Filter diagnostics"
I need to filter diagnostic messages after code emit.
I managed to filter them in VSCode using language service plugin and now I am trying to suppress this errors in ttsc output.
Firstly, I tried to patch the **emit** method of program provided to the transformer factory, but it does not work.
I also can't patch any function like **emitFilesAndReportErrorsAndGetExitStatus**, possibly because ttype

[2020-07-02 16:14] nonara commented on #99
`ttypescript` isn't built with that functionality. You can accomplish that with `ts-patch`, however.

[2020-07-03 02:33] Exeteres commented on #99
@nonara I know about ts-patch. I was using it's program replace feature. And I also know about the ability to alter diagnostics.
I will use ts-patch as a workaround, but I see no problems to implement this functionality in ttypescript.
Honestly, I think that ttypescript way of patching typescript on the fly is much cleaner than patching typescript on the filesystem.
But if for some reason this fea

[2020-07-03 03:34] nonara commented on #99
The logic is compatible, but I'm not a maintainer, so I cant speak to whether a PR for that feature would be accepted.

For what you're looking to do, you'd probably need to fork and migrate the logic or just use ts-patch. Good luck with it!

[2020-07-04 00:51] NickSeagull commented on #82
For some reason, this appeared again today, heres the log of that statement @cevek

[log.txt](https://github.com/cevek/ttypescript/files/4871939/log.txt)

[2020-07-21 04:03] Jack-Works opened #100 "JSON Schema for configuration"
It will be nice to merge ttypescript configuration into https://json.schemastore.org/tsconfig!

You can see `ts-node` has already merged their config into tsconfig definition so there're out-of-box editor support for them.

![](https://user-images.githubusercontent.com/5390719/88011553-2bbc4a80-cb4a-11ea-9fd3-b9d1b7ce0202.png)

[2020-07-22 17:39] bradennapier commented on #89
It is worth noting the following @nonara : https://github.com/microsoft/TypeScript/pull/39122

[2020-07-22 17:45] nonara commented on #89
@bradennapier Hmm. I'm not seeing how that applies here. Transformation is not called when noEmit flag is specified.

[2020-07-25 05:15] samcooke98 opened #101 "Typescript 3.8 Support"
I'm having issues getting a transformer working with anything from typescript version 3.8 upwards. Reading through the code I see a couple of `// todo typescript 3.8` kind of comments.

My transformer looks something like;
[code]

On Typescript 3.7, this output something like:
[code]

On Typescript 3.8, this outputs
[code]

----

I'd be willing to work on this, maybe with some pointers.

[2020-07-26 03:43] samcooke98 commented on #101
It seems this issue was caused by having multiple versions of `typescript` in the repo.

I solved this by adding a `resolutions` property to `package.json`.

[code]

[2020-07-26 03:43] #101 closed

[2020-08-24 09:01] lolPants opened #102 "Peer dependency warning with TypeScript v4"
Now that TypeScript v4 has shipped, ttypescript will generate peer dependency warnings due to the `package.json` file using semver range pinning on v3

[2020-08-25 07:09] cevek commented on #102
Fixed in ttypescript@1.5.11

[2020-08-25 07:09] #102 closed

[2020-08-26 00:42] mwgamble opened #103 "Missing github releases and changelog entries for latest version"
There doesn't appear to be any entries in the changelogs for the last couple of versions. There also don't appear to be any tags or github releases for these versions.

[2020-08-26 07:14] cevek commented on #103
changelog is here https://github.com/cevek/ttypescript/releases

[2020-08-26 07:14] #103 closed

[2020-09-07 09:30] cevek commented on #82
Fixed in ttypescript@1.5.12

[2020-09-07 09:30] #82 closed

[2020-09-07 09:32] cevek commented on #100
I don't think we can change existing tsconfig schema, because it maintained by typescript team

[2020-09-07 09:32] #100 closed

[2020-09-07 09:34] cevek commented on #93
We don't plan to add extra parameters to CLI. Our goal is just add transformers to tsconfig.

[2020-09-07 09:34] #93 closed

[2020-09-07 09:38] cevek commented on #99
Sorry, but filtering diagnostics is not goal for this project. Use native typescript plugin system instead.

[2020-09-07 09:38] #99 closed

[2020-09-07 09:39] #59 closed

[2020-09-07 09:40] cevek commented on #87
I close this issue because it works with pnp properly

[2020-09-07 09:40] #87 closed

[2020-09-07 09:44] cevek commented on #86
I close this issue. If you have any unresolved problems I will reopen it.

[2020-09-07 09:44] #86 closed

[2020-09-07 11:11] Jack-Works commented on #100
But ts-node did that, they are also third party...

[2020-09-09 00:41] AlexLeung commented on #87
The one area where it doesn't totally work is with the custom VSCode support through custom TSDK, since Yarn's PnPify and ttypescript provide different tsdk files. I'm hoping VS Code will just adopt zip reading soon though so this custom tsdk from yarn is no longer necessary.

[2020-09-09 00:41] AlexLeung commented on #87
Seems like it would be a big effort to get both tsdk files to work together and not sure it's really worth the effort.

[2020-09-20 03:11] Griffork opened #104 "Set typescript location in command line or tsconfig."
I have a project setup like this:

[code]

I can call ttypescript remotely pretty easily by navigating to it on the command line (e.g. from client: `..\Typescript\node_modules\ttypescript\lib\tsc.js`) but unfortunately it errors in trying to find typescript because it tries to import from the client folder. Is there a way I could change the location it checks for typescript?

[2020-09-22 21:47] millsp commented on #84
https://github.com/TypeStrong/ts-node/issues/4

[2020-10-16 04:52] trungda commented on #92
I am encountering the same issue

[2020-11-07 10:41] juliankrispel opened #105 "Name change?"
Have you considered a name change? Search engines think that this project name is a typo, which isn't great for visibility, which in turn is a shame because this project is amazing 🙏

[2020-11-13 09:52] Val-istar-Guo commented on #92
same issue:

[code]

[2020-11-14 07:58] timocov opened #106 "ttsc watch mode calls transformers many times per one compilation"
I'm not sure whether it's TypeScript bug itself or even if intended behaviour.

1. Unzip [project.zip](https://github.com/cevek/ttypescript/files/5540349/project.zip)
1. Enter the folder with unzipped project
1. `npm install`
1. Run `./node_modules/.bin/ttsc`
1. Run `./node_modules/.bin/ttsc --watch --preserveWatchOutput`
1. Compare output between them:

[code]

The main difference here is that `t

[2020-11-15 21:38] nonara commented on #92
Not sure what's happening here, but here's my 2 cents from my own experience and reports from others.

Generally these types of errors come from modifying nodes incorrectly. In other words not using the API. Directly modifying properties or replacing nodes by assignment, etc. We can sometimes get away with hacks like that during a one-shot transformation, but watch mode actively maintains the AST

[2020-11-16 05:21] Val-istar-Guo commented on #92
@nonara I found my problem because of the use of `typescript-transform-paths@2` version.`typescript-transform-paths@1` is running normally, it should be a `typescript-transform-paths` problem.

https://github.com/LeDDGroup/typescript-transform-paths/issues/72

[2020-11-17 00:59] nonara commented on #92
@Val-istar-Guo Haha. Yep, that'd do it then. We're using a workaround which directly replaces a node due to a TS compiler issue. Really hoping TS fixes the upstream issue so I can close that. I'm monitoring closely. If TS doesn't fix it by v4.2.0, I'll find another way or do a PR on TS.

[2020-11-17 06:42] nonara commented on #92
@Val-istar-Guo I had some time to dig into the new compiler API, and I believe the issue should be resolved. If you have a chance to try v2.0.3, I'd appreciate it if you let me know if it works for you!

[2020-11-21 05:59] Val-istar-Guo commented on #92
@nonara  Unfortunately, the error did not go away

* "typescript-transform-paths": "^2.0.3"
* "ttypescript": "^1.5.12",
* "typescript": "^4.1.2",
* "typescript-nestjs-swagger-plugin": "^1.1.0",

[code]

Operating procedures

- `ttsc --watch`
- change some ts file that be watched
- The error throw

[2020-11-22 04:13] nonara commented on #92
@Val-istar-Guo thanks for following up. There may not be anything that we can do until TS fixes the upstream. Would you mind filing an issue with the problem and repro steps on our GH issues? I'll look into it and you can track what's going on there.

[2020-11-30 09:07] cevek commented on #105
yeah, it was bad idea to add just one letter to name :).
so, what name do you proposal?

[2020-12-01 01:02] Griffork commented on #105
Why not something simple like Typescript Transformer?

Other options:

- Typescript Transform Factory/Handler/Wrapper.
- tsconfig Transforms (although people searching for ttypescript or typescript transforms won't hit this).

[2020-12-01 01:35] Griffork opened #107 "tsserver Support."
Hello! I'm looking at making a custom visual studio SDK (following [this post](https://github.com/microsoft/TypeScript/issues/41355#issuecomment-729171361)). I thought it would be easy because ttypescript defines a .tsc and a .tsserver, however upon inspection I realised that the tsserver is actually unmodified.

Would it be possible to get tsserver to be modified to use the transforms? I know not

[2020-12-04 06:22] juliankrispel commented on #105
@cevek that should be up to you imo. Maybe a poll? Personally I like what @Griffork mentioned - "Typescript Transformer" - or "ts-transform" for short? Would match keywords quite well and also it would make for a great logo (which I'd love to design if you're up for it)

![image](https://user-images.githubusercontent.com/1188186/101129106-e5e3b880-35f8-11eb-891a-9bcafceda9b9.png)

[2020-12-04 09:42] cevek commented on #105
and also we need new name to commandline tsc

[2020-12-04 09:47] Griffork commented on #105
ttsc (or tsct or tsc-tr) is fine for command line, as long as it's documented somewhere.

[2021-01-09 20:18] ksnyde opened #108 "Transforming Typescript aliases returns "Debug Failure. False expression: Node must have a real position for this operation""
I have code which compiles without issue using `tsc` but when used with `ttsc` or Rollup with the `ttypscript` replacement. My `tsconfig.json` file is:

[code]

This same repo and **tsconfig** used to compile but after updating a number of requirements (including Typescript to 4.1.3) it now fails with:

[code]

I have gone into Typescript's code and added code to pull out more information as I was

[2021-01-09 20:29] ksnyde commented on #108
## Previously
[code]

## Adjusted
[code]

I have looked out the output of both the code _and_ the types and it would appear that the path aliases have been transformed which is odd because I know that you needed both transforms to have this effect in the past. Has something changed?
I can see now that if I comment out the `afterDeclarations` transformation (leaving just the default transform), it

[2021-01-09 20:35] ksnyde commented on #108
No, i take it back ... it does NOT transform the types!

[2021-01-09 20:57] ksnyde commented on #108
This project is open source and this experience can be easily reproduced by cloning: https://github.com/forest-fire/vuex-plugin-firemodel

[2021-01-09 22:01] nonara commented on #108
@ksnyde I suggest filing an issue on the `typescript-tranform-paths` repo. It is doubtful that this is an issue with `ttypescript`.

Please include the version number and steps to repro, and I'll have a look when I can.

[2021-01-10 01:50] ksnyde commented on #108
yes I think you're right ... i hacked typescript's code to force my repo to build but I need a more graceful means. It seems more likely that it's in `typescript-transform-paths` though and not the infrastructure that you're providing. Thanks for the quick return.

[2021-01-10 01:54] #108 closed

[2021-01-27 17:08] mrmeku opened #110 "ttypescript does not patch createWatchProgram"
Currently ttypescript patches `createProgram` but does not patch `createWatchProgram` or `createIncrementalProgram`. As a result, transformations do not occur when calling those two APIs which is unexpected

[2021-02-03 08:31] tavisca-kbobade opened #111 "Cannot read property 'updateImportDeclaration' of undefined"
I created a simple transformer to replace file content. But getting an error
`Cannot read property 'updateImportDeclaration' of undefined`.
It is because context.factory is null when I am using typescript@3.8.3 and when I install typescript@4.1.2 it works as expected.

Is there any other way instead of upgrading to typescript?

[2021-02-03 08:42] tavisca-kbobade commented on #111
Closing this, as I think it is not related to ttypescript.

[2021-02-03 08:42] #111 closed

[2021-02-04 01:13] nonara commented on #111
@tavisca-kbobade API functionality in TS pre-TS 4 is called through the Typescript instance.

ts 3: `ts.updateImportDeclaration`
ts 4+: `factory.updateImportDeclaration`

[2021-02-04 22:59] cspotcode commented on #105
If #96 is implemented, then this project can be named `pluggable-typescript` or `typescript-plugins`.  CLI name can be `ptsc` or `tscp`.

This project could accomplish TypeStrong/discussions#5

[2021-02-05 23:11] nonara opened #113 "Discussion: Rewrite and merge ttypescript and ts-patch"
Hi all!

I've been thinking about this for awhile, and I thought I'd go ahead and gauge interest.

`ttypescript` and to a lesser extent, `ts-patch`, have been filling a void for awhile now. I know that they have been very helpful for many of us who needed to do more with the TS compiler. With that said, in hindsight—gauging from personal use and feature requests—I believe that there is room for im

[2021-02-05 23:17] nonara commented on #105
Instead of just a name change, what do you think about a rewrite and merger? I've been thinking about this for awhile now.

https://github.com/cevek/ttypescript/issues/113

[2021-02-05 23:22] Griffork commented on #105
@cspotcode I suspect most people looking for this repo will be using typescript's official name for compiler plugins which is transforms, so I'd still recommend using that as the name.
That doesn't prevent ttypescript from doing what you suggest and putting an entry in the readme about it.

---

Ninja'd: I already have a local hack (replacing a few files) to add my own configuration file so I coul

[2021-02-05 23:27] cspotcode commented on #105
Can typescript transformers change diagnostics?  I thought that was not
possible since noEmit exists.  I was thinking that if we add features which
transformers cannot do, then it might make sense to broaden the name, and
ttypescript uses the word "plugins" internally.

The language service has "plugins" which can change diagnostics; it's a
bummer they don't work for the tsc CLI.

On Fri, Feb 5, 2

[2021-02-05 23:29] Griffork commented on #105
@cspotcode what do you mean about diagnostics? Do you mean custom syntax output or error reporting or something else?

[2021-02-05 23:33] nonara commented on #105
@cspotcode Yeah, that's why I thought 'extensions' made more sense. Especially if we allow for additional patching and combining LS plugins with transformers into one package.

In order to get that to work, I had to add some additional hooking. There's API for it that gets fed to your entry point in ts-patch. That's one area that the two projects diverge

[2021-02-05 23:34] cspotcode commented on #105
Typescript internally refers to all typechecking errors as "diagnostics."
It's my understanding that they are generated by the typechecker, and
transformers cannot modify/add/remove them in noEmit mode.  Language
service plugins, however, can modify diagnostics.

On Fri, Feb 5, 2021, 6:29 PM Griffork <notifications@github.com> wrote:

[2021-02-05 23:38] nonara commented on #105
@cspotcode If `noEmit` is set, I believe transformers don't get run, so that's a good point. In that case, tsp would not allow modification. That's another reason I'd like to a see a redesigned system that wasn't centered around transformers alone.

[2021-02-05 23:39] cspotcode commented on #113
Definitely in favor of having one tool for adding additional, pluggable features to TS.  I started brainstorming in https://github.com/cspotcode/hookable-typescript but never had time to go anywhere with it.

I'd also like the *option* to avoid modifying typescript/tsc/tsserver in situations where other tools in the dependency tree should get access to unmodified copies of tsc.  Like how ttsc and

[2021-02-05 23:43] Griffork commented on #105
@cspotcode oooh. I've just been hacking transformers to act a bit like language service plugins (which has quite restricted what I've been able to do with them). Outputting to console.error with the correct format seems to get picked up by IDEs and is indistinguishable to a normal tsc error afaik so I just made a helper to do that.

When looking at Typescript's code I didn't really see any support

[2021-02-05 23:49] cspotcode commented on #105
Ttypescript and ts-patch already hook into createProgram to override
methods, which adds support for transformers.  It seems reasonable to
further hook the compiler to intercept and filter diagnostics, which should
hopefully avoid hacks. At least, avoid more hacks than what is already
necessary to hook the compiler. :D

On Fri, Feb 5, 2021, 6:43 PM Griffork <notifications@github.com> wrote:

[2021-02-05 23:51] cspotcode commented on #105
Also wanna drop this here, yarn 2's plugin-compat actually applies a patch
to typescript to support yarn2 pnp.  They do it via a diff file which is
applied to the raw typescript package, and then the result is saved into
yarn's cache as a zip, same as all other packages.  They have the luxury of
doing this within the package management/installation layer.

On Fri, Feb 5, 2021, 6:49 PM Andrew Bradl

[2021-02-18 14:53] alber70g opened #114 "Run a transformer from nodejs"
I'm working on scripts that helps do major refactorings in our applications. It involves also moving files, rewriting imports, rewriting code etc. I've created a transformer, and would like to run this as step within a bigger process.

The thing is, currently we just parse the file and get a `ts.SourceFile` and modify this when needed, and write it back to disk. I'm missing the **`context`** param

[2021-02-18 16:14] alber70g commented on #114
Nevermind, I've found a solution. I can just run `ts.transform(sourceFile, [transformer]);`

[2021-02-18 16:14] #114 closed

[2021-02-18 16:34] nonara commented on #114
@alber70g Yep - that works! Another option is to pass `nullTransformationContext`, which is exported from the `typescript` package.

I think it's an internal type, but you can use [ts-expose-internals](https://www.npmjs.com/package/ts-expose-internals) to access its type

[2021-02-18 17:24] alber70g commented on #114
@nonara  Thanks. The alternative `nullTransformationContext` is nice as well. That way I don't need to use the `ts.TransformerFactory` and just return a `ts.Transformer`. Thank you!

[2021-03-05 18:57] TomasHubelbauer opened #115 "How to build without running into the build issue currently on master?"
Hi, I see `master` is currently failing:

I have the same issue locally:

[code]

However, I also see the latest release on GitHub and NPM is in response to the commit which is failing. So it looks like you have found a way to build and release without running into this error. Do I need to use a specific version of TypeScript?

[2021-03-06 07:21] TomasHubelbauer opened #116 "How to run a transformer prior to the time-checking phase"
Hi, I am working on https://github.com/TomasHubelbauer/ttypescript-esm. This transformer walks ESM imports and if the path of the import is a relative file path and it ends with `?search` or `#fragment` part as it if was a URL and not a path, that part gets removed. I want to remove it for the purposes of type checking (I don't care whether it says there for the emit phase or doesn't as I only use

[2021-03-07 18:52] TomasHubelbauer commented on #116
FWIW I have found an alternative way of doing this. I have developed a TS Server plugin which monkey-patches the module resolution logic in TypeScript to remove the URL parts which would otherwise break the module resolution and I have created a VS Code extension which distributes this plugin without the need for ttypescript, it works just by installing the extension.
https://github.com/TomasHubel

[2021-03-07 18:52] #116 closed

[2021-04-23 02:01] kainstar opened #117 "addDiagnostic is unavaliable"
Hello, I'm writing a transformer which could transform some restricted types to runtime code, and when someone write some type unsupported, I want to show a typescript diagnostic.

I found the `addDiagnostic` method created by `addDiagnosticFactory` and try use it, but it did not work.
https://github.com/cevek/ttypescript/blob/505e3aa95e26b90dd30efa2d2d6612a6882a2baa/packages/ttypescript/src/Plugi

[2021-04-23 02:20] nonara commented on #117
If it helps, `ts-patch` supports diagnostics manipulation.

[2021-04-23 06:43] kainstar commented on #117
Thanks, I will try it.

[2021-04-23 20:15] nonara commented on #110
Working on this in `ts-patch` now

[2021-04-23 21:06] nonara commented on #110
I looked into this a bit. I'm not sure I see how this wouldn't work.

But, if it isn't working, I believe I found the solution.

For `createIncrementalProgram`, look at the signature and you will see that it takes a `createProgram` function as an argument. Pass `ts.createProgram` to it (where `ts` is your patched typescript instance) and it should work.

For `createWatchProgram` you also need to p

[2021-05-20 23:35] aomarks opened #118 "Support for importing ES modules"
Node now supports ES modules, but there doesn't seem to be a way to import them from a `ttypescript` config.

https://nodejs.org/api/esm.html

A CommonJS module can import an ES module like this:

[code]

`ttypescript` could know to use `import` with a new plugin configuration option (e.g. `"module": true`).

Or to be more automatic, it could follow the Node rules which are to 1) check it ends wit

[2021-05-31 13:17] rdsedmundo commented on #89
I was also looking for that because I'm only interested in doing a transformation for type-checking purposes.

The workaround of hijacking the `writeFile` works for me.

Is this limitation of not transforming stuff with the `noEmit` flag coming from `ttypescript` or `typescript` itself?

[2021-05-31 15:09] nonara commented on #89
The typescript compiler doesn't run tranforms at all if it's not intended to emit. The reason for this is that it would generally be unnecessary added work, and tsc wants to be as efficient as possible.

If you use ts-patch you could create a program transformer and put the emit file override code into that. This would allow you to use regular tsc. There is a thorough program transformer example u

[2021-06-08 05:09] kennetherland opened #120 "ttsc"
Was ttsc removed?  I noticed the discussion about the architectural rewrite.  Did that happen?

[2021-06-08 22:41] hediet opened #121 "ttsc --watch does not work with typescript 4.0 and later"
This is the error I get once I started `ttsc --watch` and changed a file:
[code]

[2021-06-10 06:27] wc5858 commented on #121
Typescript has released latest version 4.3.2, but ttypescript is incompatible with it. I temporarily locked typescript's version (~4.0.3).

[2021-06-10 21:05] nonara commented on #121
Would either of you mind trying it with [ts-patch](https://github.com/nonara/ts-patch)?

If you have an issue, I'll look into it and possibly submit a PR for ttypescript as well.

[2021-06-16 10:01] hediet commented on #121
Is there a way to use ts-patch without ts-patch modifying any external files (like ttypescript)?
Could you setup a github action that publishes some ts-patched-typescript?

[2021-06-16 17:45] nonara commented on #121
Not at the moment. I have a plan for a new library which creates a much better plugin architecture. It will do in-memory modification with disk caching. Unfortunately, I'm pretty swamped, so that's in the hopeful pile.

Technically tsp will be faster, which is part of the reason I went with direct modification route to begin with. If your concern is with yarn overwriting it, there is an easy way t

[2021-06-25 23:17] patroza commented on #121
works a dream so far, thanks so much!

[2021-06-28 03:33] dko-slapdash opened #122 "Is ttypescript dead?"
Hi @cevek @nonara,

Been a happy users of ttypescript for almost 2 years. Decided to upgrade TS, and:

- Last commit almost a year ago.
- People report incompatibility with TS 4.3 (and I also see weird errors).
- Also, people say that they move to ts-patch and it works with the latest TS (the last commit there is several weeks ago).

What's the future of the project? Or, maybe, the entire industry

[2021-06-28 15:30] nonara commented on #122
The industry won't die. Many projects rely on plugins, including my own. This repo seems not to be maintained anymore, unfortunately. I have access to ts-patch, but not here.

If @cevek wants to add me as a maintainer, I'd be glad to maintain this until I can rewrite and merge the two libraries into a more robust plugin architecture.

[2021-06-30 07:29] hediet commented on #121
I can verify that!

`"postinstall": "ts-patch install",` works nicely to ensure that contributors don't need to care about `ts-patch`. However, I guess `ts-patch` is not going to work with yarn berry.

[2021-06-30 13:32] patroza commented on #121
Should work just fine if you leverage `postinstall-postinstall` package.

[2021-06-30 16:57] nonara commented on #121
Given the activity on this, the issues with ttypescript and its unmaintained status, and the current limitation with `ts-patch`, I think it's time to do the rewrite.

I've sketched out the design. Here are the highlights:

- Will not directly modify ts files (better for yarn)
- Will allow persistent alias overwriting (ie. can name the compiler `tsc` or something else, default is `tspc`)
- Supports

[2021-06-30 17:00] nonara commented on #122
Given the issues with ttypescript and its unmaintained status and the current limitation with `ts-patch`, I think it's time to do the rewrite.

I've sketched out the design. Here are the highlights:

- Will not directly modify ts files (better for yarn)
- Will allow persistent alias overwriting (ie. can name the compiler `tsc` or something else, default is `tspc`)
- Supports *custom patches* which

[2021-07-07 01:15] nonara commented on #107
FYI - Support for this is being built into the new version for [ts-patch](https://github.com/nonara/ts-patch)

[2021-07-07 01:17] nonara commented on #113
Development is underway!

Discussion: https://github.com/nonara/ts-patch/discussions/40
Dev Branch: https://github.com/nonara/ts-patch/tree/v2

[2021-07-07 01:32] nonara commented on #121
Development is underway! Would appreciate anyone's feedback on the config options and strategies laid out: https://github.com/nonara/ts-patch/discussions/40#discussioncomment-972611

[2021-07-08 01:30] Griffork commented on #107
Oh fantastic! Thank you!

[2021-07-13 21:54] jasonkuhrt opened #123 "Document that ttypescript does not work with ts-node with transpile-only option"
I discovered that with [transpileOnly](https://github.com/TypeStrong/ts-node#skip-typechecking) option enabled that [`typescript-transform-paths`](https://github.com/LeDDGroup/typescript-transform-paths) does not work.

I assume this is not specific to `typescript-transform-paths` and general to `ttypescript`.

If so a disclaimer about this should be added to the readme. Easy way to lose some time

[2021-07-13 22:18] nonara commented on #123
@jasonkuhrt Hi Jason. I'm the maintainer of that library. As of v3.1, we had to switch resolution strategy to a compiler function which requires an `EmitHost`. I did not consider ts-node's transpileOnly.

Please post an issue over there, and I'll address it.

[2021-07-13 22:39] patroza commented on #123
We had a similar case with another plugin.
After discovery it seemed to make sense however :)

[2021-07-13 22:58] nonara commented on #123
Glad to hear it. I didn't think it'd be too broad, as few people use programmatic compiler API to make use of `transpile`, however, I hadn't considered that `ts-node` uses this also. The good news is, _very_ little of the `EmitHost` is used, so I can easily put together a functional host to fall back on.

[2021-07-14 13:46] wehrstedt opened #124 "How to change source code of emitted helpers?"
Hi everyone. Does anybody know how to change the source code of the emitted helpers? e. g. a `for of` loop with `downlevelIteration` will result in the following helper function:
[code]

will output:
[code]

What i need to change is to remove `(this && this.__values) ||` from the variable declaration, because in my execution envirenment accessing `this` in the global scope will result immediatelly

[2021-07-14 15:57] nonara commented on #124
You can use an "after" transformer to work with the post compiled js code.

[2021-07-14 16:00] wehrstedt commented on #124
what type do i have to specify? My current config looks like this:
[code]

but the code passed to the transformer does not contains the emitted helper function. It seems like the transformer runs before that happens

[2021-07-14 16:08] nonara commented on #124
What's the output of `ts.createPrinter().printFile(sourceFile);` for that file?

[2021-07-14 18:00] wehrstedt commented on #124
hmm ... that is actually the expected output:
[code]

[2021-07-14 18:24] nonara commented on #124
Sounds like you're on the right track. I would debug and inspect the nodes. If you want to setup a repository I can clone with your scenario, I'll take a look.

[2021-07-14 18:41] wehrstedt commented on #124
Absolutely, thank you. I created a repository with current work here: https://github.com/wehrstedt/ts-transformer-scripting
You can e. g. debug the code with the vs code debug terminal and running `yarn test` ...

[2021-07-14 18:49] wehrstedt commented on #124
my first guess is that the visitor does not visit the emitted helper functions. I can't find any that referes to the helper function.

[2021-07-14 20:26] wehrstedt commented on #124
found a workaround which seems to work for me now. I added `"importHelpers": true` to my tsconfig. This will cause typescript to import the helper functions from module `tslib`. I can now implement this module in my environment by implement the neccessary helper functions.
Not what I initialy asked for, but it works

[2021-07-14 22:12] jasonkuhrt commented on #123
@nonara that would be great because the perf difference of `--transpileOnly` is huge (at least in our case).

[2021-07-15 01:04] nonara commented on #124
That's interesting. Looks like you're right. It must do its final transforms after the `after`. Anyway, glad you found a workable route.

The alternative would be to use a `Program` transformer via `ts-patch`

[2021-07-15 06:25] wehrstedt commented on #124
Maybe i will give it a try. It seems like the option `importHelper` does not be applied on all source files. I have two source files with a `for of` loop. In one source file, typescript imports `tslib`, in the other source file typescript still emits the helper function. But thats probably a bug or a misconfiguration in typescript. Anyway, thanks for your help!

[2021-07-15 06:25] #124 closed

[2021-07-15 17:16] nonara commented on #123
Agreed! Type checking is the most expensive part of the compilation process. I wasn't aware that anyone was using the extension without. Will have a look at this hopefully this weekend

[2021-08-02 20:33] nonara commented on #123
Nearly done with this. Just wondering what the use case looks like for you guys?

It should be able to run without the transformer via `tsconfig-paths`. (ie. `ts-node -T -r tsconfig-paths/register`)

Are you actually emitting source with ts-node?

[2021-08-03 01:38] zyf0330 commented on #123
Just don't want to use another tool to play with `ts-node`.

[2021-08-03 15:14] jasonkuhrt commented on #123
Nope not emitting, just running scripts.

[2021-08-03 21:08] nonara commented on #123
Support added in v3.2.0

[2021-08-03 21:11] nonara commented on #123
Ah, ok. Performance-wise, I'm thinking `tsconfig-paths` will probably be faster for you, but if you're using any of the special features like custom tags, exclusion options, etc. you should be able to use the plugin with transpileOnly now.

If anything doesn't work properly, please let me know!

[2021-08-09 16:23] jasonkuhrt commented on #123
Interesting, at that point I think the issue is about project complexity, more setup/deps etc.

[2021-11-25 13:13] #107 closed

[2021-11-25 13:22] cevek commented on #122
Actually, I also thought that the library was already out of date and did not work, 😅 but after testing it on the latest versions of `ts`, it turned out that everything is working, the only thing that broke(warning) is some kind of incompatibility with the new version of node module system, but I fixed it, so now everything is in working order.

[2021-11-25 13:24] cevek commented on #121
Actually

[2021-11-25 13:24] #121 closed

[2021-11-25 13:25] cevek commented on #120
Nope :)

[2021-11-25 13:25] #120 closed

[2021-11-25 13:26] cevek commented on #115
Fixed in 1.5.13

[2021-11-25 13:26] #115 closed

[2021-11-25 13:27] #113 closed

[2021-11-25 13:27] #122 closed

[2021-11-25 13:30] #123 closed

[2021-11-30 18:04] robojeff commented on #118
I have a project that depends on TTypescript 1.5.13.  I can build the project with ttsc when my project uses Typescript 4.3.5.  However if I upgrade to Typescript 4.5.2, this error is thrown:

TypeError: Cannot read property 'impliedNodeFormat' of undefined

Does this enhancement address that issue, or I have encountered an unreported bug?

[2021-12-03 19:20] adrianbw opened #125 "Typescript 4.5.2: Cannot read property 'impliedNodeFormat' of undefined"
I've got several react/typescript repositories using ttypescript that have started throwing this error since our upgrade to 4.5.2. I haven't been able to isolate what the cause is, though. Unfortunately, I'm also going to be no longer at the company with this problem in about two hours, but I wanted to make sure this was noted.

[2021-12-06 01:06] TheMrZZ commented on #107
@Griffork I need to know, does it work? `ttsserver` still looks unmodified, and I can't see who you answered to.

[2021-12-06 04:07] nonara commented on #107
I deleted my reply, which mentioned that I added support to `ts-patch`. Unfortunately, it turns out `tsserver` has issues if modified the same way. On closer inspection, it also actually doesn't make sense to approach it the same way, if targeting the language server is your goal.

Are you trying to make transformation affect the language server or is there another reason you want to patch tsserve

[2021-12-06 09:48] TheMrZZ commented on #107
I am trying to make transformations affect the language server. Basically, I want to create an operator overloading proof of concept, but this cannot work if there isn't proper IDE support. I don't want to write a full custom language server if I can just change the normal TS one.

[2021-12-06 18:44] nonara commented on #107
Got it! The issue is that the LS works differently. It doesn't really support transformations, and it would actually not be a great idea to add the support, as the LS's job is to work with the code, as it exists.

That said, you can still probably accomplish what you're looking to do. In the future, I hope to make this a little easier, but right now what you can do is create a separate Language Se

[2021-12-07 15:15] MR4online commented on #125
also having this issue. Stacktrace:

`[PATH]/node_modules/typescript/lib/typescript.js:113474
        if (file.impliedNodeFormat === undefined)
                 ^
TypeError: Cannot read properties of undefined (reading 'impliedNodeFormat')
    at Object.getModeForUsageLocation ([PATH]/node_modules/typescript/lib/typescript.js:113474:18)
    at resolveExternalModule ([PATH]/node_modules/typescript/

[2021-12-14 14:04] vdineva commented on #125
Same issue when upgrading from 4.4.x to 4.5.x version of typescript

[2021-12-16 13:21] TheMrZZ commented on #107
If I'm not mistaken, creating a Language Server plugin means I have to create my own extension, right? Or does the TS LS have a native capacity to load specific plugins?

And if you have a link to the documentation on creating said plugins, I'd love to have it!

Anyway, thanks for your hard work and your quick answers.

[2021-12-16 17:52] nonara commented on #107
Typescript natively supports what it calls "plugins". Specifically, the support is for language service plugins. That is actually what the tsconfig `plugins` property is for! We just extend its use slightly in `ts-patch` and `ttypescript` to support transformers as well.

Writing a plugin is similar to writing a transformer. It just requires a little background knowledge on how to interact with th

[2021-12-21 21:01] skilbjo commented on #125
This may be an issue with a plugin you're using rather than an issue with `ttsc` per se.

I only use `ttsc` to get access to this plugin: `@zerollup/ts-transform-paths` so I can resolve absolute paths at typescript build time.

I was experiencing the same issue described above, but the `patch-package` solution described https://github.com/zerkalica/zerollup/issues/37 fixed my issue. Hopefully help

[2021-12-21 23:59] adrianbw commented on #125
Bless you, thanks.

[2021-12-26 01:05] craigphicks commented on #122
I can verify that I am using this package successfully with typescript 4.4/5 (not updated to 4.5 yet) for a few months.  However, I wasn't using it two years ago so I have no previous behavior to compare to.  One barrier that had to be overcome was that the plugin main entry was called repeatedly to engage a lower level of iteration (the transform) in the plugin.  Once I figured that out and put i

[2022-01-01 09:29] #125 closed

[2022-01-01 09:30] #104 closed

[2022-01-02 05:21] moshen commented on #118
@robojeff You using `ts-transform-paths`? I found this bug report after trying to upgrade my own project: https://github.com/zerkalica/zerollup/issues/37

[2022-03-18 06:16] yinzixie opened #128 "How to use it in vite?"
Any extra configuration except changes in tsconfig.json ? Because I got an err said
[code]
Which means the configuration doesn't work at all.

[2022-03-18 13:53] khusamov opened #129 "parcel-plugin-ttypescript Is the module outdated?"

[2022-04-30 10:53] uittorio opened #131 "latest version 1.5.13 is not documented"
Hi,

I've noticed that the latest version, 1.5.3, released to npm does not have a changelog or notes anywhere.

I think this version is related to these commits https://github.com/cevek/ttypescript/compare/1.5.12...master but I cannot confirm it.

Would you be able to update the release notes?

thanks

[2022-05-29 21:50] paluchi opened #132 "_ßr is not defined error"
![image](https://user-images.githubusercontent.com/26327672/170892575-c8a83539-8eec-4b6c-96b4-c9f6ed54b3d4.png)

This error occurs every time I reload my code by pressing ctrl + s and using ttypescript as compiler

[2022-06-11 07:26] MicahZoltu commented on #121
This bug still appears to exist, why was it closed?

I took a look at ts-patch but it has 34 transitive dependencies while ttypescript has 0, so I would strongly prefer to see ttypescript fixed rather than migrating to ts-patch.

[2022-08-31 04:23] mmcgahan commented on #129
It looks like the current parcel plugin (https://github.com/cevek/ttypescript/blob/master/packages/parcel-plugin/TTypescriptAsset.js) was last updated a few years ago and is designed for Parcel version 1.

Parcel version 2 has made some major changes to its [transformer plugin](https://parceljs.org/plugin-system/transformer/) interface, and it would be great to be able to use ttypescript with it.

[2022-09-02 16:16] MicahZoltu opened #133 "Remove dependency on `resolve`"
The `resolve` library appears to be used in two places, but it brings in 5 additional transitive dependencies.  It would be nice if an alternative could be found or perhaps even inlined.
![image](https://user-images.githubusercontent.com/886059/188195973-18faad42-c11a-459b-b5ab-69271e5b70e5.png)

[2022-09-06 14:12] jasoninrapid commented on #132
I'm seeing a similar error in my browser after a hot reload of a React Web Pack app.  I have tst-reflect working and emitting type information at runtime so I think I have it configured correctly.

import * as _ßr from "tst-reflect";

[2022-10-28 16:17] Gurimarukin commented on #129
I made something work for me with a `link:./parcel-transformer-ttsc` in my `package.json`, and a copypasta of https://github.com/parcel-bundler/parcel/tree/v2/packages/transformers/typescript-tsc with replacing `typescript` with `ttypescript`.

[2022-11-11 19:55] WalterWoshid commented on #107
I tried to create a Language Service Plugin to extend the IDE's type checking and error capabilities, but soon found out that it's not possible to change internal methods. Now I found this beautiful library, but it doesn't support transformers in the tsserver, which is a bummer...

[2022-11-15 19:35] samchon opened #134 "`ttsc` is not working on TS 4.9"
`ts-node -C ttypescript` works, but `ttsc` is not working.

code transformation does not working.

[2022-11-18 00:49] nonara commented on #107
@WalterWoshid For that, you would use a Language Server plugin rather than a transformer. Good luck!

[2022-11-18 02:02] WalterWoshid commented on #107
@nonara Sadly the language plugin doesn't hook into the type checking, so both tools are not an option.

[2022-11-18 02:38] nonara commented on #107
@WalterWoshid Not sure what you're trying to do, but if you are trying to add or remove Diagnostics in the language service, you can accomplish that with a LS plugin.

If that isn't it, could you describe your use case in some more detail?

[2022-11-18 02:41] WalterWoshid commented on #107
@nonara Here you go: https://github.com/microsoft/TypeScript/issues/51493#issue-1446044201

[2022-11-18 02:47] nonara commented on #107
Ah, interesting! Unofficially, ts-patch supports tsserver, but I believe there are crashes. I recently learned that one user still uses it in an API fashion.

What may work, if you have the time and motivation, is to look at tsserver with ts-patch and see if you can work out why it crashes. If you can figure it out, I'd be happy to add support.

We've had a few requests, but there's rarely an actu

[2022-11-18 13:08] WalterWoshid commented on #107
@nonara Would you mind sending me the link to that user or some kind of guidance in the right direction?

I am using Typescript 4.7, ttypescript 1.5, ts-patch 2.0, patched all the files and it is working for `ttsc` and `tsc`, but whenever I start the server with JetBrains Webstorm or VSCode it just runs the default server. No errors or crashes and the transformer plugin is not being executed. Is t

[2022-11-23 08:14] Smrtnyk commented on #134
It looks related to https://github.com/microsoft/TypeScript/issues/51542
probably not an issue of ttypescript

[2022-11-24 15:56] WalterWoshid commented on #107
@nonara Oh, I see. Thanks for the information!

Small tip for debugging: [Easy-Attach](https://github.com/hediet/easy-attach#demo)
You're gonna love it, if you ever need to debug something where you can modify the source code, but can't control what application started it for debugging :)